@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/optimized/NanumSquareR.aa32197e.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/optimized/NanumSquareB.47d76a82.woff2") format("woff2");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/optimized/NanumSquareEB.e703add6.woff2") format("woff2");
}
