@font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/NanumSquare/woff2/NanumSquareL.woff2") format("woff2");
    /* Light (L) */
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/NanumSquare/woff2/NanumSquareR.woff2") format("woff2");
    /* Regular (R) */
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/NanumSquare/woff2/NanumSquareB.woff2") format("woff2");
    /* Bold (B) */
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/NanumSquare/woff2/NanumSquareEB.woff2") format("woff2");
    /* ExtraBold (EB) */
}

@font-face {
    font-family: "SUIT";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-Light.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "SUIT";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/suit/woff2/SUIT-Heavy.woff2") format("woff2");
}
