:root {
    font-family:
        "SUIT",
        "Malgun Gothic",
        "Apple SD Gothic Neo",
        "Segoe UI",
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:
        "NanumSquare",
        "Malgun Gothic",
        "Apple SD Gothic Neo",
        "Segoe UI",
        sans-serif;
}

.chat-icon {
    bottom: 13.8rem !important;
    right: 1.8rem !important;
}
